@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
.bg-img {
  opacity: 0.2;
}

$fonts: 'Arvo', serif;

html {
  background-color: #000;
}

#home-hero {
  width: 80%;
  stroke: #c6cddb;
  fill: #c6cddb;
}

#home-center {
  flex-grow: initial;
}

div.site-branding {
  font-size: 3em;
  font-weight: 700;
}

#home-nav {
  font-weight: 700;
}
